
#include<stdio.h>
int inputarray(int n,int a[n])
{
        int i;
        printf("enter %d elements:\n",n);
        for(i=0;i<n;i++)
        {
                scanf("%d",&a[i]);
        }
        return 0;
}
int sumarray(int n, int a[n])
{
        int sum=0;
        for(int i=0;i<n;i++)
        {
                sum=sum+a[i];
        }
        return sum;
}
int outputarray(int n, int a[n])
{
        printf("the entered array\n");
        for(int i=0;i<n;i++)
        {
                printf("%d",a[i]);
                printf("\n");
        }
        printf("\n");

        int s=sumarray(n,a);
        printf("sum is : %d\n",s);
        return 0;
}
int main()
{
        int n,a[100];
        printf("enter the value of n\n");
        scanf("%d",&n);
        inputarray(n,a);
        outputarray(n,a);
        return 0;
}
